 .v-btn--icon.v-size--default .v-icon, .v-btn--fab.v-size--default .v-icon .arrowStyle {
    height: 36px !important;
    font-size: 36px !important;
    width: 36px !important;
}

 h1 {
     font-size: 34px;
     margin-bottom: 40px;
 }

 .container {
     max-width: none !important;
 }


 .outerContainer {
     height: 69vh;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
 }

 .slide-fade-enter-active {
     transition: all 0.3s ease;
 }
 .slide-fade-leave-active {
     transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
 }
 .slide-fade-enter {
     transform: translateX(40px);
     opacity: 0;
 }

 .slide-fade-leave-to
{
     transform: translateX(-40px);
     opacity: 0;
 }

 body, html {
     height: 100%;
     width: 100%;
     margin: 0;
 }